RewriteEngine On
RewriteBase /Proyectos/TFC-GameSniper/TFC-GameSniper/

# Proteger carpetas sensibles
RewriteRule ^(app|config|core|database)/ - [F,L]

# Redirigir todo a /public
RewriteCond %{REQUEST_URI} !^/Proyectos/TFC-GameSniper/TFC-GameSniper/public/
RewriteRule ^(.*)$ public/$1 [L,QSA]